*{
    margin:0;
    font-size: 20px;
}
body {
    background-image: linear-gradient(to right, rgb(245, 130, 130) ,rgb(246, 214, 107));
    color: ghostwhite;
    margin-top: 1em;
}
li{
 
    list-style: none;
}
a {
    font-size: 2em;
    color: black;
}
a:hover{
    color: chartreuse;
}